$logo-font: 'Edwardian Script ITC';
$primary-text-color: #fff;
$bg-color: #FFCAD4;
$logo-font-size: 25rem;

@import "media";

body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

a {
    color: #000;
    &:hover {
        color: white;
        text-decoration: none;
    }
}

//HEADER
header {
    margin-bottom: 0;
    background: $bg-color;
    .social {
        margin-right: 0;
    }
    .container {
        line-height: 50px;
        display: flex;
        justify-content: space-between;
    }
}

//JUMBOTRON
#jumbotron {
    padding: 0;
    margin-top: 50px;
    color: $primary-text-color;
    text-shadow: 3px 3px 100px black;
    .jumbotron {
        border-radius: 0;
        margin-bottom: 0;
        text-align: center;
        background-image: url(../img/bg-photo-logo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        width: 100%
    }
}

#logo {
    font-family: $logo-font;
    font-size: $logo-font-size;
}

//NAVBAR
.navbar-default {
    background: $bg-color;
    margin-bottom: 40px;
    border: none;
    border-radius: 0;
    a {
        margin: 0 15px;
        color: black !important;
        &:hover {
            background: white !important;
            color: $bg-color !important;
        }
    }
    .active {
        background: white;
        a {
            background-color: white !important;
            &:hover {
                border-radius: 0;
            }
        }
    }
}

.navbar-nav {
    display: flex;
    justify-content: center;
    float: none;
}

.navbar-toggle {
    border-color: black !important;
    &:hover {
        background-color: white !important;
        border-color: white !important;
    }
    &:focus {
        @extend :hover;
    }
    .icon-bar {
        background-color: black !important;
    }
}

.nav {
    li {
        &:hover {
            background: white;
        }
    }
}

//MAIN ITEMS
.item {
    border: none;
    padding: 0;
    .btn {
        float: right;
        margin-bottom: 20px;
        &:hover {
            background: $bg-color;
            color: white;
            border-color: $bg-color;
        }
        &:active {
            background: $bg-color;
            color: white;
            border-color: $bg-color;
        }
    }
}

//ABOUT
#about {
    text-align: center;
    height: 447px;
    background-image: url(../img/bg-foto.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 40px 0;
    margin: 40px 0;
    color: white;
    .container-fluid {
        margin-top: 50px;
    }
}

.text-about {
    width: 970px;
    margin: 20px auto;
}

#link-about {
    color: white;
    &:hover {
        color: white;
        border: 1px solid white;
        padding: 5px;
        border-radius: 10px;
    }
}

//TESTIMONIALS
#testimonials {
    text-align: center;
    img {
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 40px;
    }
}

//ADVICE
#advice {
    text-align: left;
    margin-bottom: 40px;
    #advice-image {
        width: 100%;
        height: 350px;
        background: url('../img/advice.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        h2 {
            text-align: center;
            color: white;
            font-size: 6rem;
            text-shadow: 1px 1px 10px black;
        }
    }
    hr {
        margin-bottom: 40px;
    }
    .col-sm-12 {
        padding: 0 0;
    }
}

#link-advice {
    color: black;
}

//FOOTER
footer {
    background: $bg-color;
    .container {
        display: flex;
        justify-content: space-between;
    }
    #redstar {
        float: right;
    }
    nav {
        margin-bottom: 0;
    }
    p {
        padding: 15px 0;
        margin-bottom: 0;
    }
    li {
        a {
            line-height: inherit !important;
            &:hover {
                background: white !important;
                color: $bg-color !important;
            }
            &:focus {
                @extend :hover;
                color: black !important;
            }
        }
    }
}
